section#form{
    margin: auto;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
#msgform{
    margin-bottom: 10px;
}
#lista  div{
    background-color: gray;
    padding: 10px;
    width: 60%;
    margin: 20px auto;   
}
#btns{
    height: 40px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#btnob{
    width: 20%;
    margin: 20px auto;
}